@import 'base.sass'

.hero-section
    .container
        width: 1253px
        margin: 0 auto
    .title-wrap
        font-family: 'athelas'
        font-weight: 700
        font-size: 166px
        line-height: 186px
        letter-spacing: -5px