@import 'base.sass'

.btn
    color: white
    text-decoration: none
    font-family: 'Akzidenz'
    font-size: gem(22)
    font-weight: 300
    line-height: gem(60)
    position: relative
    &::after
        content: ''
        display: block
        position: absolute
        width: 0
        height: gem(2)
        background-color: white
        transition: width 0.3s
    &:hover
        color: #b5412c
        &::after
            width: 100%

.desc-1
    font-size: gem(22)
    font-weight: 300
    line-height: gem(40)
    font-family: 'Akzidenz'
    color: #526059

.tooltip
    position: relative
    display: inline-flex
    align-items: center
    justify-content: center
    text-align: center
    color: white
    font-size: gem(6)
    width: gem(12)
    height: gem(12)
    border-radius: 50%
    background-color: #313C35
    &::after
        content: 'Altrüus is a fun, emotional and social way to send and receive gifts from both national.'
        display: block
        position: absolute
        background-color: #313C35
        color: #8E9C95
        font-size: gem(10)
        width: gem(200)
        padding: gem(10) gem(12)
        border-radius: gem(5)
        font-family: 'Akzidenz'
        line-height: gem(13)
        font-weight: 300
        text-align: left
        top: gem(25)
        left: gem(-29)
        opacity: 0
        transition: opacity 0.3s
    &:hover::after
        opacity: 1

.hero-section
    .container
        width: gem(1253)
        margin: 0 auto
    .title-wrap
        font-family: 'athelas'
        font-weight: 700
        font-size: gem(166)
        line-height: gem(186)
        letter-spacing: gem(-5)
    .title-top
        color: #FFFFFF
    .title-h1
        display: flex
        flex-direction: column
    .title-down
        color: #526059
        width: max-content
        text-align: right
        align-self: flex-end
        position: relative
    .title-down::after
        content: ''
        display: block
        width: gem(150)
        height: gem(4)
        background-color: #526059
        position: absolute
        left: gem(-190)
        top: calc(#{gem(186)}/2 - #{gem(4)})
    img
        width: gem(1232)
        display: block
        height: auto
        object-fit: contain

body
    background-color: #1B1F1D

.future-section
    margin-top: gem(150)
    padding-bottom: gem(174)
    .container
        width: gem(1091)
        margin: 0 auto
        display: flex
        justify-content: space-between
    .right-wrap-title
        font-weight: 300
        font-family: 'Akzidenz'
        font-size: gem(32)
        line-height: gem(48)
        letter-spacing: gem(-0.4)
        color: #FFFFFF
    .list-item-title,
    .list-item-text
        font-family: 'Akzidenz'
        font-weight: 300
        font-size: gem(18)
        line-height: gem(23)
        color: #526059
    .list-item-text
        color: #FFFFFF
        margin-top: gem(10)
    .right-wrap
        width: gem(703)
    .left-wrap .list
        display: flex
        flex-direction: column
        gap: gem(48)
        width: gem(181)
    .right-wrap-text
        margin-top: gem(43)
        margin-bottom: gem(40)

.small-section
    padding-bottom: gem(150)
    .container
        width: gem(1440)
        margin: 0 auto
    .center-wrap
        display: flex
        justify-content: center
        img
            width: gem(1232)
    .bottom-wrap
        display: flex
        justify-content: space-between
        margin-top: gem(120)
        .left
            width: gem(850)
        .right
            width: gem(428)

.text-with-title
    .container
        width: gem(1047)
        margin: 0 auto
        display: flex
        justify-content: space-between
    .title-h3
        font-family: 'Akzidenz'
        font-weight: 300
        font-size: gem(32)
        line-height: gem(48)
        letter-spacing: gem(0.4)
        color: #FFFFFF
    .title-wrap
        width: gem(329)
        &.small
            width: gem(210)
        img
            display: block
            height: auto
            object-fit: contain
    .title-h3
        padding-top: gem(19)
    .desc-wrap
        width: gem(659)
        height: gem(320)
    .desc
        font-family: 'Akzidenz'
        font-weight: 300
        font-size: gem(22)
        line-height: gem(40)
        color: #8E9C95

.medium-section
    .container
        width: gem(1047)
        margin: 0 auto
    .center-wrap
        display: flex
        justify-content: center
        margin-top: gem(156)
        img
            width: gem(1232)
    .bottom-wrap
        display: flex
        justify-content: center
        margin-top: gem(120)
        margin-bottom: gem(156)
    .bottom-wrap-left
        width: gem(428)
        height: gem(560)
        padding-right: gem(162)
    .bottom-wrap-right
        width: gem(850)
        height: gem(640)

.tiny-section
    padding-top: gem(150)
    padding-bottom: gem(158)
    .container img
        margin: 0 auto
        display: flex
        width: gem(1232)

.info-section
    padding-bottom: gem(154)
    .container
        margin: 0 auto
        width: gem(649)
        height: gem(230)
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
    .top-wrap
        width: gem(77)
        height: gem(10)
        img
            display: block
            height: auto
            object-fit: contain
    .center-wrap
        width: gem(649)
    .center-text
        font-family: 'Akzidenz'
        font-weight: 300
        font-size: gem(32)
        line-height: gem(48)
        letter-spacing: gem(-0.4)
        align-content: center
        color: #8E9C95
        padding-top: gem(29)
        padding-bottom: gem(23)
        text-align: center
    .bottom-wrap
        width: gem(649)
        height: gem(24)
    .bottom-text
        font-family: 'Akzidenz'
        font-weight: 300
        font-size: gem(18)
        line-height: gem(24)
        color: #8E9C95
        text-align: center

.avatar-section
    padding-bottom: gem(123)
    .container
        display: flex
        justify-content: right
        width: gem(1440)
        padding-top: gem(584)
    .top-wrap
        position: absolute
        top: 0
        left: 0
        width: gem(1238)
    .desc-wrap
        width: gem(1336)
        background-color: #313C35
        padding: gem(358)gem(87)gem(184)gem(324)
        .result-img img
            position: absolute
            height: gem(1191)
            left: gem(20)
            top: gem(900)
    .desc-wrap-text
        width: gem(925)
    .top
        font-family: 'Akzidenz'
        font-weight: 300
        font-size: gem(56)
        line-height: gem(71.96)
        letter-spacing: gem(-0.4)
        color: #FFFFFF
    .desc
        font-family: 'Akzidenz'
        font-weight: 300
        font-size: gem(32)
        line-height: gem(48)
        color: #8E9C95
    .title-list
        width: gem(925)
        margin-top: gem(72)
        display: flex
        flex-direction: column
        gap: gem(56)
        .title-item
            width: gem(925)

.wide-section
    padding-bottom: gem(168)
    .container
        width: gem(1440)
        position: relative
        padding-top: gem(512)
        .top-wrap
            width: gem(1238)
            height: gem(800)
            position: absolute
            right: 0
            top: 0
        .desc-wrap
            width: gem(1440)
            background-color: #313C35
            padding: gem(448)gem(202)gem(152)gem(202)
            .desc-wrap-text
                width: gem(1036)
                display: flex
                .left-wrap
                    width: gem(324)
                    display: flex
                    flex-direction: column
                    margin-right: gem(64)
                .awards
                    font-family: 'Akzidenz'
                    font-weight: 300
                    font-size: gem(32)
                    line-height: gem(48)
                    letter-spacing: gem(-0.4)
                    color: #FFFFFF
                    margin-top: gem(19)
                .img-wrap
                    width: gem(77)
                .right-list
                    width: gem(648)
                    height: gem(208)
                    .title-list
                        display: flex
                        flex-wrap: wrap
                        box-sizing: border-box
                        justify-content: space-around
                        gap: gem(30)
                        .title-item
                            width: gem(144)
                            .img-item
                                width: gem(28)
                            .caption
                                width: gem(120)
                                font-family: 'Akzidenz'
                                font-weight: 300
                                font-size: gem(15)
                                line-height: gem(23)
                                color: #FFFFFF
                                margin-top: gem(5)
                            .quote
                                width: gem(144)
                                font-family: 'Akzidenz'
                                font-weight: 300
                                font-size: gem(12)
                                line-height: gem(18)
                                color: #8E9C95
                                margin-top: gem(1)
