@require('./common/structure/head.ejs')
@require('./common/header.ejs')

<main id="main" data-page-id="home">
    <section class="hero-section">
        <div class="container">
            <div class="title-wrap">
                <h1 class="title-h1">
                    <p class="title-top">Altered</p>
                    <p class="title-down">State Machine</p>
                </h1>
            </div>
            <div class="img-wrap">
                <img src="/assets/img/01_Visual_motion.png" alt="hero-img" />
            </div>
        </div>
    </section>
    <section class="future-section">
        <div class="container">
            <div class="left-wrap">
                <ul class="list">
                    <li class="list-item">
                        <h3 class="list-item-title">Brand</h3>
                        <p class="list-item-text">Altered State Machine</p>
                    </li>

                    <li class="list-item">
                        <h3 class="list-item-title">Timeframe</h3>
                        <p class="list-item-text">2 months</p>
                    </li>

                    <li class="list-item">
                        <h3 class="list-item-title">
                            Zajno role
                            <span class="tooltip"><svg width="2" height="10" viewBox="0 0 2 10" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.25 10H1.75V4H0.25V10ZM0.25 2H1.75V0H0.25V2Z" fill="#8E9C95" />
                                </svg>
                            </span>
                        </h3>
                        <p class="list-item-text">Full-cycle website creation</p>
                    </li>

                    <li class="list-item">
                        <h3 class="list-item-title">Awards</h3>
                        <p class="list-item-text">Awwwards x 2CSS x 4</p>
                    </li>
                </ul>
            </div>
            <div class="right-wrap">
                <h2 class="right-wrap-title">
                    Visualizing how the new world of AI bots interact and compete with
                    each other
                </h2>
                <p class="right-wrap-text desc-1">
                    Altered State Machine is a platform that lets you build, train and
                    trade AI agents using non-fungible tokens (NFTs) for gaming and
                    financial purposes. The protocol enables anyone to own an AI agent and
                    the machine learning models that define what it learns over time.
                    Owners pair an NFT intelligence agent (a Brain) with NFT artwork (a
                    Form) to make their Agent in Metaverse. <br /><br />
                    For the collaboration with ASM, we created the entire website,
                    including brand identity, animation, 2D and 3D illustrations dripping
                    with sci-fi and futuristic vibes. We used tools like TypeScript, EJS,
                    BodyMovin, Lottie, and GreenSock.
                </p>
                <a class="btn" href="#" target="_blank">View Website</a>
            </div>
        </div>
    </section>
    <section class="small-section">
        <div class="container">
            <div class="center-wrap">
                <img src="/assets/img/02_Visual_statics.png" alt="statics" />
            </div>
            <div class="bottom-wrap">
                <img src="/assets/img/03_Visual_motion.png" alt="motion" class="left" />
                <img src="/assets/img/04_Visual_statics.png" alt="statics" class="right" />
            </div>
        </div>
    </section>
    <section class="text-with-title">
        <div class="container">
            <div class="title-wrap">
                <img src="/assets/img/Exclude.png" alt="Exclude" />
                <h3 class="title-h3">
                    Building a brand identity through dynamic visuals
                </h3>
            </div>
            <div class="desc-wrap">
                <p class="desc">
                    Our goal is to visualize the idea of premium NFT by bringing together
                    brand identity with logo, color palette, and fonts. We used a visual
                    metaphor of futuristic cosmic objects with the metallic glow to the
                    smallest of them. The target audience of this project is investors, so
                    in the visuals, we emphasize the value and integrality of these
                    objects and give their presence a subtle weightiness.
                </p>
            </div>
        </div>
    </section>
    <section class="medium-section">
        <div class="container">
            <div class="center-wrap">
                <img src="/assets/img/05_Visual_statics.png" alt="statics" />
            </div>
            <div class="bottom-wrap">
                <img class="bottom-wrap-left" src="/assets/img/06_Visual_statics.png" alt="statics" />
                <img class="bottom-wrap-right" src="/assets/img/07_Visual_motion.png" alt="motion" />
            </div>
        </div>
    </section>
    <section class="text-with-title">
        <div class="container">
            <div class="title-wrap small">
                <img src="/assets/img/Exclude.png" alt="Exclude" />
                <h3 class="title-h3">
                    Coding with personal development tools
                </h3>
            </div>
            <div class="desc-wrap">
                <p class="desc">
                    Our goal is to visualize the idea of premium NFT by bringing together brand identity with logo, color palette, and fonts. We used a visual metaphor of futuristic cosmic objects with the metallic glow to the smallest of them. The target audience of this project is investors, so in the visuals, we emphasize the value and integrality of these objects and give their presence a subtle weightiness.
                </p>
            </div>
        </div>
    </section>
    <section class="tiny-section">
        <div class="container">
            <div class="image">
                <img src="/assets/img/08_Visual_statics.png" alt="statics" />
            </div>
        </div>
    </section>
    <section class="info-section">
        <div class="container">
            <div class="top-wrap">
                <img src="/assets/img/Exclude.png" alt="" />
            </div>
            <div class="center-wrap">
                <p class="center-text">
                    «You guys have made us such a beautiful website and graphics to play
                    with — so thank you!»
                </p>
            </div>
            <div class="bottom-wrap">
                <p class="bottom-text">Carmen McDonald, Communications Manager</p>
            </div>
        </div>
    </section>
</main>

@require('./common/footer.ejs') 
@require('./common/structure/foot.ejs')